.container {
  min-height: 100vh;
  padding: 40px;
  text-align: center;
}

.tasks-container {
  display: inline-block;
  width: 300px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.task-text {
  flex: 1;
}

.task-button {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: hidden;
}

.button-container {
  display: flex;
}
